

.header {
  font-weight: lighter;
  font-size: 36px;
}

.sub-header {
  font-weight: bolder;
  font-size: 1.5rem;
}

p,
.text {
  font-size: 1rem;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
}

p {
  font-size: 1rem;
}
